<html>
<body>
<div class="banner" style = "width : 100%">
<div class = "banner-text">
<h4  style = "color:#ffffff; text-align : center; ">Looks like you have not registered for the test ride. Would you like to register now.</h4>
<button type="button" class=" action-button" onclick="goToRegister();"  >Register</button>

</div>
</div>

<script type="text/javascript">
 function goToRegister(){
 	window.open("/toregister",'_parent');
 }
</script>
</body>
</html>