<div>
<form action="/register" method="post">
  First Name: <input type="text" name="f_name"> 
  Last Name: <input type="text" name="l_name"> 
  Age: <input type="text" name="age"> 
  Email: <input type="text" name="email"> 
  Password: <input type="text" name="password"> 
  Contact No: <input type="text" name="contact_no">  
  Address: <input type="text" name="address"> 
  <input type="submit" value="Submit">
</form>
<iframe src="newSwipe1.ejs" ></iframe>
</div>