<!-- <h2>Hello <%= name %></h2>
<h4>Welcome to Ather experience center.</h4>
<h4>Please make your pattern to proceed.</h4>
<div class="row patterncontainer" id = "patterncontainer"  >
      <div class="col s12 center section " >
          <div id = "button1" class="button"></div>       
      </div>
      <div class="col s6 center section " ><div id = "button2" class="button"></div></div>
      <div class="col s6  center section " ><div id = "button3" class="button"></div></div>
      
       <div class="col s6  center section " ><div id = "button4" class="button"></div></div>
      <div class="col s6  center section " ><div id = "button5" class="button"></div></div>
       <div class="col  s12  center section " ><div id = "button6" class="button"></div></div>

    </div>
    <button type="button" class=" action-button" onclick="resetPattern()"  >Reset</button>
   <a href = "#"> <button type="button" class=" action-button" >Submit</button></a>
 -->

 <div class=" first-one">
 
  <div class="deals">
    <div class="sap_tabs">  
      <!-- <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;"> -->

        <div class="resp-tabs-container">
         <h2 class="fs-title">Password Setup</h2>
    <h3 class="fs-subtitle" id = "heading"></h3>  
         <img src="images/img1.jpg" class = "image-cropper profiledragimage" alt="" style = "z-index : 99" >
         <div id = "button1" class="button"></div>
         <div id = "button2" class="button"></div>
         <div id = "button3" class="button"></div>
         <div id = "button4" class="button"></div>
         <div id = "button5" class="button"></div>
         <div id = "button6" class="button"></div>
         <!-- <div class="row patterncontainer" id = "patterncontainer"  >
          <div class="col s12 center section " >
            <div id = "button1" class="button"></div>       
          </div>


          <div class="col s6 center section " ><div id = "button2" class="button"></div></div>
          <div class="col s6  center section " ><div id = "button3" class="button"></div></div>

          <div class="col s6  center section " ><div id = "button4" class="button"></div></div>
          <div class="col s6  center section " ><div id = "button5" class="button"></div></div>
          <div class="col  s12  center section " ><div id = "button6" class="button"></div></div>

        </div> -->
        

<script>
 function showHome(){

   window.open("/",'_parent');
 }
</script>
      </div>
      <button type="button" class=" action-button" onclick="resetPattern()"  >Reset</button>
        <a href = "#"> <button type="button" onclick = "showHome()" class=" action-button" >Previous</button></a>
    <!-- </div> -->
   
  </div>        
</div>
</div>