<!-- <h2>Hello <%= name %></h2>
<h4>Welcome to Ather experience center.</h4>
<h4>Please make your pattern to proceed.</h4>
<div class="row patterncontainer" id = "patterncontainer"  >
      <div class="col s12 center section " >
          <div id = "button1" class="button"></div>       
      </div>
      <div class="col s6 center section " ><div id = "button2" class="button"></div></div>
      <div class="col s6  center section " ><div id = "button3" class="button"></div></div>
      
       <div class="col s6  center section " ><div id = "button4" class="button"></div></div>
      <div class="col s6  center section " ><div id = "button5" class="button"></div></div>
       <div class="col  s12  center section " ><div id = "button6" class="button"></div></div>

    </div>
    <button type="button" class=" action-button" onclick="resetPattern()"  >Reset</button>
   <a href = "#"> <button type="button" class=" action-button" >Submit</button></a>
 -->

 <div class=" first-one">
  <div class="first-one-inner lost">
    <div class="here">
      <div class="here-bottom">
        <img src="images/img1.jpg" alt="">
        <h4>Hi <%= name %>,</h4>
        <h6>Please set your swipe pattern</h6>
      </div>
    </div>
  </div>
  <div class="deals">
    <div class="sap_tabs">  
      <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">

        <div class="resp-tabs-container">
         <div class="row patterncontainer" id = "patterncontainer"  >
          <div class="col s12 center section " >
            <div id = "button1" class="button"></div>       
          </div>
          <div class="col s6 center section " ><div id = "button2" class="button"></div></div>
          <div class="col s6  center section " ><div id = "button3" class="button"></div></div>

          <div class="col s6  center section " ><div id = "button4" class="button"></div></div>
          <div class="col s6  center section " ><div id = "button5" class="button"></div></div>
          <div class="col  s12  center section " ><div id = "button6" class="button"></div></div>

        </div>
        <button type="button" class=" action-button" onclick="resetPattern()"  >Reset</button>
        <a href = "#"> <button type="button" class=" action-button" >Submit</button></a>

      </div>
    </div>
    <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>

  </div>        
</div>
</div>