<html>
<body>
<div id = "welcomemsg">
<h4  style = "color:#ffffff; text-align : center; top : 200px; position : relative">Welcome to Ather Experience Center. Wish you a great experience ahead.</h4>
</div>
<script type="text/javascript">
  function goToHome(){
  	window.open("/",'_parent');
  }
  $(document).ready(function() {
   setTimeout(goToHome, 3000);

  });

</script>
</body>
</html>